/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #242424;
  color: white;
}

/* Header */
header {
  background-color: #7289DA;
  padding: 20px;
  border-radius: 10px;
}

header h1 {
  color: white;
}

/* Container */
.container {
  padding: 20px;
  border-radius: 10px;
}

/* Button */
button {
  background-color: #8ab4f8;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #6a94d8;
}

/* Main */
main {
  border-radius: 10px;
}

/* H2 */
h2 {
  border-radius: 10px;
}

/* P */
p {
  border-radius: 10px;
}